.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(21, 20, 23), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(21, 20, 23), rgba(37, 117, 252, 1))
    }
    .wrong-data{
        color: rgb(163, 66, 66);
        font-size: 18px;
        margin-top: 8px;
    }