
    <body class="profile-page">

        <nav
            class="navbar navbar-toggleable-md bg-primary fixed-top navbar-transparent "
            color-on-scroll="400">
            <div class="container">
                <div class="dropdown button-dropdown">
                    <a href="#" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                        <span class="button-bar"></span>
                        <span class="button-bar"></span>
                        <span class="button-bar"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="./index.html">Profile</a>
                        <a class="dropdown-item" href="./friends-page.html">Find friends</a>
                        <a class="dropdown-item" href="./edit-profile.html">Edit profile</a>
                        <a class="dropdown-item" href="./messages-page.html">Messages</a>
                        <a class="dropdown-item" href="./components.html">Components</a>
                        <a class="dropdown-item" href="./login-page.html">Login</a>
                        <a class="dropdown-item" href="./sign-up-page.html">Sign Up</a>
                        <a class="dropdown-item" href="./landing-page.html">Landing page</a>
                        <a class="dropdown-item" href="./nucleo-icons.html">Icons</a>
                    </div>
                </div>
                <div class="navbar-translate">
                    <button
                        class="navbar-toggler navbar-toggler-right"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navigation"
                        aria-controls="navigation-index"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        People-Day
                    </a>
                </div>
                <div
                    class="collapse navbar-collapse justify-content-end"
                    id="navigation"
                    data-nav-image="img/Corp/img23.jpg">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="./index.html">
                                <p class="hidden-lg-up">Profile</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./friends.html">
                                <p class="hidden-lg-up">Find friends</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./edit-profile.html">
                                <p class="hidden-lg-up">Edit profile</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./chat.html">
                                <p class="hidden-lg-up">Messages</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./components.html">
                                <p class="hidden-lg-up">Components</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./login-page.html">
                                <p class="hidden-lg-up">Login</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./sign-up-page.html">
                                <p class="hidden-lg-up">Sign up</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./landing-page.html">
                                <p class="hidden-lg-up">Landing page</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./nucleo-icons.html">
                                <p class="hidden-lg-up">Icons</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="wrapper">
            <div class="page-header page-header-small">
                <div
                    class="page-header-image"
                    data-parallax="true"
                    style="background-image: url('img/Corp/img20.jpg');"></div>
            </div>
            <div class="section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="content-center text-center porfile-content">
                                <div class="photo-container">
                                    <img src="img/Friends/guy-3.jpg" alt="alt">
                                </div>
                                <h3 class="title">john Doe</h3>
                                <p class="category">Developer</p>
                                <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
                                <a
                                    href="#button"
                                    class="btn btn-default btn-round btn-lg btn-icon"
                                    rel="tooltip"
                                    title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a
                                    href="#button"
                                    class="btn btn-default btn-round btn-lg btn-icon"
                                    rel="tooltip"
                                    title="Instagram">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a
                                        class="nav-link active"
                                        data-toggle="tab"
                                        href="#home"
                                        role="tab"
                                        aria-controls="home">
                                        Tweets
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a
                                        class="nav-link"
                                        data-toggle="tab"
                                        href="#following"
                                        role="tab"
                                        aria-controls="following">
                                        Following
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a
                                        class="nav-link"
                                        data-toggle="tab"
                                        href="#followers"
                                        role="tab"
                                        aria-controls="followers">
                                        Followers
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a
                                        class="nav-link"
                                        data-toggle="tab"
                                        href="#likes"
                                        role="tab"
                                        aria-controls="likes">
                                        Likes
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home" role="tabpanel">
                                    <div class="media Tweets">
                                        <img
                                            class="mr-3 rounded-circle img-flex"
                                            src="img/Friends/guy-3.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="mt-0">Media heading</h5>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                            turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                                            felis in faucibus.
                                        </div>
                                    </div>
                                    <div class="media Tweets">
                                        <img
                                            class="mr-3 rounded-circle img-flex"
                                            src="img/Friends/guy-1.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="mt-0">Media heading</h5>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                            turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                                            felis in faucibus.
                                        </div>
                                    </div>
                                    <div class="media Tweets">
                                        <img
                                            class="mr-3 rounded-circle img-flex"
                                            src="img/Friends/guy-2.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="mt-0">Media heading</h5>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                            turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                                            felis in faucibus.
                                        </div>
                                    </div>
                                    <div class="media Tweets">
                                        <img
                                            class="mr-3 rounded-circle img-flex"
                                            src="img/Friends/guy-9.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="mt-0">Media heading</h5>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                            turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                                            felis in faucibus.
                                        </div>
                                    </div>
                                    <div class="media Tweets">
                                        <img
                                            class="mr-3 rounded-circle img-flex"
                                            src="img/Friends/guy-5.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="mt-0">Media heading</h5>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                            turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                                            felis in faucibus.
                                        </div>
                                    </div>
                                    <div class="media Tweets">
                                        <img
                                            class="mr-3 rounded-circle img-flex"
                                            src="img/Friends/guy-2.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="mt-0">Media heading</h5>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                            turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                                            felis in faucibus.
                                        </div>
                                    </div>
                                    <div class="media Tweets">
                                        <img
                                            class="mr-3 rounded-circle img-flex"
                                            src="img/Friends/guy-5.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="mt-0">Media heading</h5>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                            turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                                            felis in faucibus.
                                        </div>
                                    </div>
                                    <div class="media Tweets">
                                        <img
                                            class="mr-3 rounded-circle img-flex"
                                            src="img/Friends/guy-8.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="mt-0">Media heading</h5>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                            turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                                            felis in faucibus.
                                        </div>
                                    </div>
                                    <div class="media Tweets">
                                        <img
                                            class="mr-3 rounded-circle img-flex"
                                            src="img/Friends/guy-6.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="mt-0">Media heading</h5>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                            turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                                            felis in faucibus.
                                        </div>
                                    </div>
                                    <div class="media Tweets">
                                        <img
                                            class="mr-3 rounded-circle img-flex"
                                            src="img/Friends/guy-9.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="mt-0">Media heading</h5>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                            turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                                            felis in faucibus.
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane Follow" id="following" role="tabpanel">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <div class="card">
                                                    <img class="card-img-top" src="img/Corp/img1.jpg" alt="Card image cap">
                                                    <div class="card-block">
                                                        <img class="img-profile-folow" src="img/Friends/woman-1.jpg" alt="alt">
                                                        <h4>JS Fundación</h4>
                                                        <p class="card-text">Some quick example text to build on the card title and make
                                                            up the bulk of the card's content.</p>
                                                        <a href="#" class="btn btn-primary btn-round btn-lg">Not Follow</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="card">
                                                    <img class="card-img-top" src="img/Corp/img2.jpg" alt="Card image cap">
                                                    <div class="card-block">
                                                        <img class="img-profile-folow" src="img/Friends/woman-2.jpg" alt="alt">
                                                        <h4>HTML Cinco</h4>
                                                        <p class="card-text">Some quick example text to build on the card title and make
                                                            up the bulk of the card's content.</p>
                                                        <a href="#" class="btn btn-primary btn-round btn-lg">Not Follow</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="card">
                                                    <img class="card-img-top" src="img/Corp/img3.jpg" alt="Card image cap">
                                                    <div class="card-block">
                                                        <img class="img-profile-folow" src="img/Friends/woman-3.jpg" alt="alt">
                                                        <h4>JS Fundación</h4>
                                                        <p class="card-text">Some quick example text to build on the card title and make
                                                            up the bulk of the card's content.</p>
                                                        <a href="#" class="btn btn-primary btn-round btn-lg">Not Follow</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="card">
                                                    <img class="card-img-top" src="img/Corp/img4.jpg" alt="Card image cap">
                                                    <div class="card-block">
                                                        <img class="img-profile-folow" src="img/Friends/woman-4.jpg" alt="alt">
                                                        <h4>JS Fundación</h4>
                                                        <p class="card-text">Some quick example text to build on the card title and make
                                                            up the bulk of the card's content.</p>
                                                        <a href="#" class="btn btn-primary btn-round btn-lg">Not Follow</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="card">
                                                    <img class="card-img-top" src="img/Corp/img9.jpg" alt="Card image cap">
                                                    <div class="card-block">
                                                        <img class="img-profile-folow" src="img/Friends/woman-5.jpg" alt="alt">
                                                        <h4>JS Fundación</h4>
                                                        <p class="card-text">Some quick example text to build on the card title and make
                                                            up the bulk of the card's content.</p>
                                                        <a href="#" class="btn btn-primary btn-round btn-lg">Not Follow</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="card">
                                                    <img class="card-img-top" src="img/Corp/img6.jpg" alt="Card image cap">
                                                    <div class="card-block">
                                                        <img class="img-profile-folow" src="img/Friends/woman-6.jpg" alt="alt">
                                                        <h4>JS Fundación</h4>
                                                        <p class="card-text">Some quick example text to build on the card title and make
                                                            up the bulk of the card's content.</p>
                                                        <a href="#" class="btn btn-primary btn-round btn-lg">Not Follow</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane Followers" id="followers" role="tabpanel">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <div class="card">
                                                    <img class="card-img-top" src="img/Corp/img19.jpg" alt="Card image cap">
                                                    <div class="card-block">
                                                        <img class="img-profile-folow" src="img/Friends/woman-1.jpg" alt="alt">
                                                        <h4>Daily Tech Tips</h4>
                                                        <p class="card-text">Some quick example text to build on the card title and make
                                                            up the bulk of the card's content.</p>
                                                        <a href="#" class="btn btn-primary btn-round btn-lg">Follow</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="card">
                                                    <img class="card-img-top" src="img/Corp/img23.jpg" alt="Card image cap">
                                                    <div class="card-block">
                                                        <img class="img-profile-folow" src="img/Friends/woman-6.jpg" alt="alt">
                                                        <h4>Juan Ramirez</h4>
                                                        <p class="card-text">Some quick example text to build on the card title and make
                                                            up the bulk of the card's content.</p>
                                                        <a href="#" class="btn btn-primary btn-round btn-lg">Follow</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="card">
                                                    <img class="card-img-top" src="img/Corp/img17.jpg" alt="Card image cap">
                                                    <div class="card-block">
                                                        <img class="img-profile-folow" src="img/Friends/woman-3.jpg" alt="alt">
                                                        <h4>Juan Ramirez</h4>
                                                        <p class="card-text">Some quick example text to build on the card title and make
                                                            up the bulk of the card's content.</p>
                                                        <a href="#" class="btn btn-primary btn-round btn-lg">Follow</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="card">
                                                    <img class="card-img-top" src="img/Corp/img18.jpg" alt="Card image cap">
                                                    <div class="card-block">
                                                        <img class="img-profile-folow" src="img/Friends/woman-4.jpg" alt="alt">
                                                        <h4>Juan Ramirez</h4>
                                                        <p class="card-text">Some quick example text to build on the card title and make
                                                            up the bulk of the card's content.</p>
                                                        <a href="#" class="btn btn-primary btn-round btn-lg">Follow</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="likes" role="tabpanel">
                                    <div class="media Tweets">
                                        <img
                                            class="mr-3 rounded-circle img-flex"
                                            src="img/Friends/woman-5.jpg"
                                            alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="mt-0">Media heading</h5>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                            turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                                            felis in faucibus.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-12 col-sm-3 col-md-3 col-lg-3 col-lx-3 hidden-sm-dow">
                            <div class="sidebar">
                                <h5>People to follow</h5>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="media">
                                                <img
                                                    class="d-flex mr-3"
                                                    src="img/Friends/woman-1.jpg"
                                                    alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <h6 class="mt-0">Jane Doe</h6>
                                                    <a href="#button" class="btn btn-primary btn-round">Follow</a>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                        <div class="col-12">
                                            <div class="media">
                                                <img
                                                    class="d-flex mr-3"
                                                    src="img/Friends/woman-2.jpg"
                                                    alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <h6 class="mt-0">Jane Doe</h6>
                                                    <a href="#button" class="btn btn-primary btn-round">Follow</a>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                        <div class="col-12">
                                            <div class="media">
                                                <img
                                                    class="d-flex mr-3"
                                                    src="img/Friends/woman-3.jpg"
                                                    alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <h6 class="mt-0">Jane Doe</h6>
                                                    <a href="#button" class="btn btn-primary btn-round">Follow</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="is-content">
                                                <script
                                                    async="async"
                                                    type="text/javascript"
                                                    src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=bootdeycom"
                                                    id="_carbonads_js"></script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer footer-default">
                <div class="container">
                    <nav>
                        <ul>
                            <li>
                                <a href="href">
                                    Privacy policy
                                </a>
                            </li>
                            <li>
                                <a href="href">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="href">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright">
                        &copy;
                    </div>
                </div>
            </footer>
        </div>
    </body>
