<nav class="navbar fixed-top navbar-expand-xl navbar-dark bg-dark p-2">
  <img src="./assets/img/brand.png" alt="Logo" height="40">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end " id="navbarsExample06">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home
          </a>
        </li>
        <li class="nav-item" *ngIf="login">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item" *ngIf="!login">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!login">
          <a class="nav-link" href="#">Sign Up</a>
        </li>
        <li class="nav-item" *ngIf="login">
          <a class="nav-link" routerLink="/login" (click)="logout()">logout</a>
        </li>
      </ul>
    </div>
</nav>